#loginUsers{
    width: 350px;
}
#nav-user-panel, #loginUsers{
    top: 48px;
    right: 0;
}

.nav-image-profile{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.image-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: transform .4s ease-in-out;
}
.image-profile:hover{
    cursor: pointer;
    transform: scale(.95);
}
.p-50{
    padding: 50%;
}